h1, h2, h5, p{
    font-family: 'Sora', sans-serif;
    margin:auto;
    color: white;
    margin-top: 2%;
    text-align: center;
}

h5 {
    margin-bottom: 0%;
    margin-top: 0;
    padding:1%
}

p {
    margin: 1%;
}

body {
    background-color: #464866;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

#cards{
    align-self: center;
    width: 10px;
    height: 105px;
    margin-top: 8%;
}

#no-padding{
    padding: 0%;
}

#contact, #skills, #hobbies, #welcome, #about {
    padding: 6%;
    background-color: 25274D;
    align-self: center;
}
#about {
    padding-top: 4%;
    padding-bottom: 8%;
}
#welcome {
    padding: 10%;
    padding-top: 13%;
    padding-bottom: 3%;
}

#skills {
    padding-top: 6%;
    padding-bottom: 9%;
}

#hobbies {
    max-width: 1000px;
    padding-top: 1%;
    text-align: center;
}


#longer {
    max-width: 900px;
}

#shorter {
    max-width: 500px;
    margin:auto;
}

#blogbutton{
    margin-top: 1%;
    align-self: center;
    width:20%;
}

#card-name {
    color: White;
}

#githublogo {
    width: 32px;
    height: 32px;
    align-self: center;
    margin: auto;
}

#githublogolink {
    margin:auto;
    align-self: center;
}

.btn {
    min-width: 100px;
}
